@tailwind base;


@layer base {
    @font-face {
        font-family: "vazir";
        src: url('../fonts/woff2/FD/Vazir-FD.woff2') format('woff2');
    }

    @font-face {
        font-family: "vazir light";
        src: url('../fonts/woff2/FD/Vazir-Light-FD.woff2') format('woff2');
    }

    @font-face {
        font-family: "vazir bold";
        src: url('../fonts/woff2/FD/Vazir-Bold-FD.woff2') format('woff2');
    }

    .float-label-input:focus-within label,
    .float-label-input input:not(:placeholder-shown) ~ label {
      transform: translateY(-1.5rem) scale(0.85);
      color: #3e7bfa;
   }

   input:checked ~ .radio {
    color:white;
    background-color: green;
  }

}

@tailwind components;
@tailwind utilities;


